@{
    ViewData["Title"] = "Coleta de Dados";
}

<div class="text-center">

    <h1 class="display-4">Coleta</h1>

</div>

<form class="container card mt-4 w-50">
    <div class="mb-3 mt-3">
        <div class="mb-2">
            <label>1) Você se considera bom em lógica?</label>
        </div>
        <div class="btn-group w-100" role="group">
            <input type="radio" class="btn-check" name="pergunta1" id="p1true" value="1" checked />
            <label class="btn btn-outline-primary" for="p1true">Sim</label>

            <input type="radio" class="btn-check" name="pergunta1" id="p1false" value="0">
            <label class="btn btn-outline-primary" for="p1false">Não</label>
        </div>
    </div>

    <div class="mb-3">
        <div class="mb-2">
            <label>2) Gosta de aprender com desafios?</label>
        </div>
        <div class="btn-group w-100" role="group">
            <input type="radio" class="btn-check" name="pergunta2" id="p2true" value="1" checked>
            <label class="btn btn-outline-primary" for="p2true">Sim</label>

            <input type="radio" class="btn-check" name="pergunta2" id="p2false" value="0" />
            <label class="btn btn-outline-primary" for="p2false">Não</label>
        </div>
    </div>

    <div class="mb-3">
        <div class="mb-2">
            <label>3) Gostaria de fazer parte da GRX?</label>
        </div>
        <div class="form-group w-100">
            <select name="pergunta3" id="pergunta3" class="form-control">
                <option selected value="1">Sim</option>
                <option name="pergunta3" value="0">Não</option>
                <option name="pergunta3" value="2">Não sei</option>
                <option name="pergunta3" value="3">Agora!!!</option>
            </select>
        </div>
    </div>

    <div class="mb-3">
        <div class="mb-2">
            <label>4) Por favor, justifique a resposta anterior</label>
        </div>
        <textarea class="form-control" id="pergunta4" rows="3"></textarea>
    </div>

    <div class="mb-3 text-center">
        <button type="submit" class="btn btn-primary" id="botaoSalvar">Salvar</button>
        <a class="btn btn-secondary btn-block" asp-controller="Home" asp-action="Index">Voltar</a>
    </div>
</form>