@{
    ViewData["Title"] = "Página de Resultados";
}

<style>
    .border {
        border-radius: 5px;
    }
</style>

<div class="text-center">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-action="Coleta" asp-controller="Coleta">Coleta de Dados</a>
    </div>
    <br />

    <h1 class="display-4 h-100">Resultados</h1>

    <div class="container mt-4 w-50 border">
        <!-- VALOR DE TOTAL -->
        <div class="col mt-1 m-1">
            Total
        </div>
        <div class="row border mt-1 m-1">
            <div class="col text-center" id="valorTotal">
                0
            </div>
        </div>

        <!-- BLOCO DE VALOR 1-->
        <div class="row text-center">
            <div class="col mt-1 m-1" id="Nprimeiro">
                0
            </div>
            <div class="col mt-1 m-1" id="NprPrimeiro">
                0
            </div>
        </div>
        <div class="row text-center">
            <div class="col mt-1 m-1 border" id="Vprimeiro">
                OI
            </div>
            <div class="col mt-1 m-1 border" id="VpPrimeiro">
                OI2
            </div>
        </div>

    </div>
</div>
