@{
    ViewData["Title"] = "Página de Resultados";
}

<style>
    .border {
        border-radius: 5px;
    }
</style>

<div class="text-center">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-action="Coleta" asp-controller="Coleta">Coleta de Dados</a>
    </div>
    <br />
</div>