@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="text-center mt-4">
        <a class="btn btn-primary" role="button" asp-action="Coleta" asp-controller="Coleta">Coleta de Dados</a>
        <a class="btn btn-primary" role="button" asp-action="Tabela" asp-controller="Coleta">Apontamentos Diários</a>
    </div>
</div>
